@use '@/flavours/glitch/styles/application';

[data-color-scheme='dark'],
html:not([data-color-scheme]) {
  --color-bg-primary: #65396c;  // Darkest purple
  --color-bg-secondary: #7d4f82;  // Lighter purple
  --color-text-primary: #f1def5;  // Light purple
  --color-text-secondary: #fef9ff;  // Lightest
  --color-bg-brand-base: #cb2bd9;  // Highlight
}

[data-color-scheme='light'] {
  --color-bg-primary: #f3d0fb;  // Light background
  --color-bg-secondary: #f2d7f8;  // Lighter secondary
  --color-text-primary: #65396c;  // Dark text
  --color-text-secondary: #8a6e96;  // Medium text
  --color-bg-brand-base: #cb2bd9;  // Highlight
}